/*------------HEADER---------------*/

@media (max-width: 1092px) {
    .header__container{
        gap: 50px;
        min-height:100px ;
    }
    .menu__list{
        gap: 40px;
    }
}


@media(max-width: 767.98px){
    .header__container{
        padding-left: 15px;
        min-height: 60px;
    }
}

@media(max-width:479.98){
    .header__container{
        gap: 20px;

    }
    header{
        display: none;
    }
    .menu__list{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .header__logo{
        width: 28px;
        flex: 0 0 28px;
        overflow: hidden;
    }
}

/*--------------TITLE-----------------*/
@media(max-width: 767.98px){
    .title{
        font-size: 38px;
    }
}


/*--------------------MAIN----------*/

@media (max-width: 1092px){
    .main__decor img{
        width: 100%;
    }
    .main__content{
        flex: 0 1 60%;
        padding-bottom: 0;
    }
    .main__decor{
        flex: 0 1 40%
    }
}

@media (max-width: 767.98px) {
    .main__content{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        flex: 1 1 100%;
    }
    .main__image{
        display: none;
    }
    .main__title{
        font-size: 40px;
        line-height: 1.2;
    }
}

@media(max-width:479.98){
    
}

/*----------------STORE---------------*/
@media (max-width: 767.98px){
    .body-store{

        &__items{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            &__item{
                align-self: center;
                justify-self: center;
            }
        }
    }
}

/*------------------CATEGORIES--------------------------*/

@media (max-width: 1230px){
    .categories__items{
        column-gap: 40px;
    }
}

@media (max-width: 991.98px){
    .categories__items{
        column-gap: 30px;
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 767.98px){
    .categories__items{
        grid-template-columns: 1fr;
    }
}

/*------------------------------brands---------------------*/


@media (max-width: 991.98px){
    .brands {
        padding: 50px 0 60px;
        &__title {
            margin-bottom: 35px;
        }
        &__items{
            grid-template-columns: repeat(3,auto);
        }
    }
}

@media(max-width:600px){
    .brands__items{
        grid-template-columns: repeat(2,auto);
        justify-content: center;
        row-gap: 20px;
    }
}